//COLORES
$colorPrimario: #495464;
$colorSecundario: #bbbfca;
$colorSecundarioOpacity: rgba(187, 191, 202, 0.3);
$colorTerciario: #e8e8e8;
$grisSuave: #f4f4f2;
$lineaTxt: #4aa96c;

//FUENTES
$fuentePrimaria: "Montserrat", sans-serif;
$fuenteTitles: "Bowlby One SC", sans-serif;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $fuentePrimaria;
}

// HEADING
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.null__padding {
  padding: 0;
}

.null__margin {
  margin: 0;
}

.container {
  max-width: 120rem;
  /*ocupa el 90% de los 120rem*/
  width: 90%;
  margin: 0 auto;
}

//TITULO DE SEPARACION POR SECTION

.title__section {
  text-align: center;
  margin: 0;
  padding-top: 3rem;
  font-family: $fuenteTitles;
  h2 {
    display: inline-block;
    font-size: 4rem;
    border-left: 1rem solid $grisSuave;
    padding-left: 3rem;
  }
}

////////////////////////////////////////////////////////////

//header

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(18, 18, 19, 0.418);
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .barra__logo {
    font-family: $fuentePrimaria;
    color: white;
  }

  .barra__navegacion {
    font-size: 1.8rem;
    a {
      margin-left: 3rem;
      color: white;
      transition: all 0.5s ease;
      &:hover {
        font-size: 1.9rem;
        color: $colorSecundario;
      }
    }
  }
}

////////////////////////////////////////////////////////////

//PRESENTATION

.presentation {
  background-image: url(../img/img_header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.presentation__text {
  text-align: center;
  padding-top: 30rem;
  .presentation__text__title {
    display: inline-block;
    font-size: 4rem;
    font-weight: 400;
    color: $grisSuave;
    border: 0.4rem solid $lineaTxt;
    padding: 2rem;
  }

  .presentation__text__parrafo {
    font-size: 1.5rem;
    color: white;
  }

  .presentation__text__button {
    display: inline-block;
    font-size: 1.5rem;
    color: $grisSuave;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    padding: 1.6rem;
    margin-top: 4rem;
    .fa-angle-double-down {
      color: black;
      font-size: 2rem;
      transition: transform 0.5s ease;
      &:hover {
        transform: translateY(1rem);
      }
    }
  }
}

////////////////////////////////////////////////////////////

//ABOUT

.about {
  height: 800px;
  background-color: $colorTerciario;
  padding-top: 10rem;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

    .about__text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .about__text__title {
        font-family: $fuenteTitles;
        border-left: 1rem solid $colorPrimario;
        padding-left: 3rem;
        h2 {
          font-size: 4rem;
          padding: 0;
          margin: 0;
        }
      }

      .about__section__p {
        margin-top: 2rem;
        p {
          font-size: 2rem;
          text-indent: 5rem;
          line-height: 2;
        }
      }

      .about__section__button {
        .fa-download {
          font-size: 2rem;
          color: white;
          padding-right: 1rem;
        }

        a {
          display: inline-block;
          background-color: $colorPrimario;
          padding: 2rem 3rem;
          color: white;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: $colorSecundario;
          }
        }
      }
    }
  }
}

// SKILL

.skill {
  height: 500px;
  background-color: $colorPrimario;
}

.skill__text__title {
  text-align: center;
  margin: 0;
  padding-top: 3rem;
  font-family: $fuenteTitles;
  h2 {
    display: inline-block;
    font-size: 4rem;
    border-left: 1rem solid $grisSuave;
    padding-left: 3rem;
  }
}

.skill .container {
  display: flex;
  justify-content: space-around;
  padding-top: 8rem;
}

.skill__card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-left: 3rem;
  &:nth-child(1) {
    margin-left: 0;
  }
  .card__logo {
    img {
      opacity: 0.5;
      height: 200px;
      width: 100%;
    }
  }

  .card__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    h3 {
      text-align: center;
      font-family: $fuentePrimaria;
      font-size: 2.5rem;
      font-weight: 100;
      transition: all 0.4s ease-in-out;
      color: white;
      &:hover {
        font-size: 3rem;
        background-color: rgba(150, 150, 151, 0.171);
      }
    }
  }
}

// PORTAFOLIO
.portafolio {
  height: 1000px;
  background-color: $colorTerciario;
}

.portafolio__text__title {
  text-align: center;
  margin: 0;
  padding-top: 3rem;
  font-family: $fuenteTitles;
  h2 {
    display: inline-block;
    font-size: 4rem;
    border-left: 1rem solid $grisSuave;
    padding-left: 3rem;
  }
}

// CONTACTO
.contact {
  height: 500px;
  background-image: url(../img/img-contact.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10rem;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // justify-content: space-between;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $colorSecundarioOpacity;
  padding: 5rem;
  .form__camp {
    display: flex;
    justify-content: space-around;
    // align-items: center;
    padding-bottom: 2rem;
    label {
      flex: 1;
      font-size: 2rem;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="submit"],
    textarea {
      flex: 1;
      border: none;
    }

    input[type="submit"] {
      padding: 2rem 1rem;
      font-size: 1.5rem;
      transition: all 0.5s ease;
      &:hover{
        background-color:$colorSecundario;
      }
    }
  }
}

// FOOTER
.footer {
  background-color: black;
  height: 100px;
}
