html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  color: white;
}

.title__section {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 3.5rem;
}

.title__section h2 {
  margin: 0;
  padding-left: 3rem;
}

.title__section--about {
  border-left: 1rem solid #aaaaaa;
}

.logo {
  font-size: 3rem;
  margin: 1rem 0;
  color: #aaaaaa;
  font-weight: 700;
}

.barra__navegacion {
  font-size: 2rem;
  color: #aaaaaa;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 2rem;
}

.barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barra .barra__navegacion {
  display: none;
}

.barra .barra__logo {
  display: none;
}

.barra .barra__navegacion--phone {
  display: block;
}

@media (min-width: 768px) {
  .barra {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .barra .barra__navegacion {
    display: block;
    font-size: 2rem;
  }
  .barra .barra__navegacion .barra__navegacion__a {
    color: #aaaaaa;
    padding-right: 1.3rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .barra .barra__navegacion .barra__navegacion__a:nth-child(4) {
    padding-right: 0;
  }
  .barra .barra__navegacion .barra__navegacion__a:hover {
    color: #e1701a;
  }
  .barra .barra__navegacion--phone {
    display: none;
  }
}

#presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/img_header.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

#presentation .presentation__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #aaaaaac4;
  padding: 20rem;
}

#presentation .presentation__title h2 {
  font-size: 2.5rem;
  margin: 0;
}

#presentation .presentation__title h2 span {
  color: #e1701a;
}

#presentation .presentation__title .title__line {
  width: 100%;
  border: 1px solid white;
  margin: 3rem;
}

#presentation .presentation__title .button--more {
  background-color: #e1701a;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#presentation .presentation__title .button--more:hover {
  background-color: #f7a440;
}

#about {
  background-color: #e1701a;
  height: 100vh;
  padding-top: 10rem;
}

.about__main .about__main__img img {
  width: 100%;
}

.about__main .about__main__p p {
  font-size: 1.5rem;
  text-indent: 1rem;
}

@media (min-width: 768px) {
  #about {
    padding-top: 20rem;
  }
  .about__main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
  }
  .about__main .about__main__p p {
    font-size: 2rem;
    text-indent: 5rem;
    line-height: 2;
  }
}
/*# sourceMappingURL=style.css.map */