html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  color: white;
  cursor: pointer;
}

.button--more {
  background-color: #e1701a;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  border: none;
}

.button--more:hover {
  background-color: #f7a440;
}

.button--submit {
  background-color: #e1701a;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  border: none;
}

.button--submit:hover {
  background-color: #f7a440;
}

.button--cv {
  background-color: #aaaaaa;
  color: black;
  text-align: center;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  border: none;
}

.button--cv:hover {
  background-color: #f7a440;
}

.title__section {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 3.5rem;
}

.title__section h2 {
  margin: 0;
  padding-left: 3rem;
}

.title__section--about {
  border-left: 1rem solid #aaaaaa;
}

.title__section--skills {
  border-left: 1rem solid #e1701a;
}

.title__section--porta {
  border-left: 1rem solid #e1701a;
}

.title__section--contact {
  border-left: 1rem solid #aaaaaa;
}

.logo {
  font-size: 3rem;
  margin: 1rem 0;
  color: #aaaaaa;
  font-weight: 700;
}

.barra__navegacion {
  font-size: 2rem;
  color: #aaaaaa;
}

img {
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 2rem;
  z-index: 999;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.barra .barra__navegacion {
  display: none;
}

.barra .barra__logo {
  display: none;
}

.barra .barra__navegacion--phone {
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .barra {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .barra .barra__navegacion {
    display: block;
    font-size: 2rem;
  }
  .barra .barra__navegacion .barra__navegacion__a {
    color: #aaaaaa;
    padding-right: 1.3rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .barra .barra__navegacion .barra__navegacion__a:nth-child(4) {
    padding-right: 0;
  }
  .barra .barra__navegacion .barra__navegacion__a:hover {
    color: #e1701a;
  }
  .barra .barra__navegacion--phone {
    display: none;
  }
  .mobile {
    visibility: hidden;
  }
}

@media (min-width: 340px) {
  .barra {
    position: relative;
  }
  .barra .barra__navegacion__mobile {
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
    background-color: #aaaaaac4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80vh;
    width: 50%;
  }
  .barra .barra__navegacion__mobile .barra__navegacion__a {
    font-size: 2rem;
    padding-bottom: 3rem;
  }
  .barra .mobile {
    visibility: hidden;
  }
}

#presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/img_header.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#presentation .presentation__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #aaaaaac4;
  padding: 3rem;
}

#presentation .presentation__title h2 {
  font-size: 2.5rem;
  margin: 0;
}

#presentation .presentation__title h2 span {
  color: #e1701a;
}

#presentation .presentation__title .title__line {
  width: 100%;
  border: 1px solid white;
  margin: 3rem;
}

@media (min-width: 768px) {
  #presentation .presentation__title {
    padding: 20rem;
  }
}

#about {
  background-color: #e1701a;
  padding: 15rem 0;
}

#about .about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .about__main .about__main__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .about__main .about__main__p p {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-indent: 2rem;
  line-height: 2;
}

#about .about__main .about__main__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
}

@media (min-width: 768px) {
  #about .about__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

#skills .skill__container {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills .skill__container .skills__card {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skill__container .skills__card .card__img {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

#skills .skill__container .skills__card .card__title {
  font-size: 2rem;
}

#skills .skill__container .skills__card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 768px) {
  #skills .skill__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #skills .skill__container .skills__card {
    width: 25%;
  }
}

#portafolio {
  background-color: #aaaaaac4;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portafolio .portafolio__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2rem;
}

#portafolio .portafolio__grid .portafolio__card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

#portafolio .portafolio__grid .portafolio__card .card__img {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

#portafolio .portafolio__grid .portafolio__card .card__text {
  font-size: 2rem;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

#portafolio .portafolio__grid .portafolio__card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 10px 15px 10px #aaaaaac4;
          box-shadow: 10px 15px 10px #aaaaaac4;
}

#portafolio .portafolio__grid .portafolio__card:hover .card__text {
  color: #e1701a;
}

@media (min-width: 768px) {
  #portafolio .portafolio__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #portafolio .portafolio__grid .portafolio__card {
    width: 33%;
  }
}

.contact__main {
  padding: 15rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__main .contact__main__p {
  margin-bottom: 2rem;
}

.contact__main__inputs {
  background-color: #aaaaaac4;
  padding: 1rem;
  width: 100%;
}

.contact__main__inputs .form__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.contact__main__inputs .form__contact .form__contact__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.contact__main__inputs .form__contact .form__contact__input label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2rem;
  color: white;
}

.contact__main__inputs .form__contact .form__contact__input input[type="text"],
.contact__main__inputs .form__contact .form__contact__input input[type="email"],
.contact__main__inputs .form__contact .form__contact__input textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 0;
  border: 0.2px solid #aaaaaac4;
  background-color: transparent;
}

.contact__main__inputs .form__contact .form__contact__input input[type="text"]:hover,
.contact__main__inputs .form__contact .form__contact__input input[type="email"]:hover,
.contact__main__inputs .form__contact .form__contact__input textarea:hover {
  border: 0.2px solid #e1701a;
}

.contact__main__inputs .form__contact .form__contact__input .button--submit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.message {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 2rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.message__div__success {
  display: block;
  background-color: green;
  width: 100%;
  margin-bottom: 1rem;
}

.message__div__error {
  background-color: red;
  width: 100%;
  margin-bottom: 1rem;
}

.message__div__info {
  background-color: yellow;
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  #contact {
    background-image: url(../img/img-contact.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .contact__main__inputs {
    width: 70%;
  }
}

.footer {
  background-color: black;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.footer .container .footer__rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .footer__rrss .rrss i {
  padding-right: 1rem;
  font-size: 2rem;
  color: #aaaaaa;
}

.footer .container .footer__text p {
  color: #aaaaaa;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=style.css.map */
