//COLORES
$colorPrimario: #495464;
$colorSecundario: #bbbfca;
$colorSecundarioOpacity: rgba(187, 191, 202, 0.3);
$colorTerciario: #e8e8e8;
$grisSuave: #f4f4f2;
$lineaTxt: #4aa96c;

//FUENTES
$fuentePrimaria: "Montserrat", sans-serif;
$fuenteSpan: "Dancing Script", sans-serif;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $fuentePrimaria;
}

// HEADING
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.null__padding {
  padding: 0;
}

.null__margin {
  margin: 0;
}

.container {
  max-width: 120rem;
  /*ocupa el 90% de los 120rem*/
  width: 90%;
  margin: 0 auto;
}

.header {
  background-image: url(../img/img_header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;

}

// BARRA

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .barra__logo {
    font-family: $fuenteSpan;
    color: $colorPrimario;
  }

  .barra__navegacion {
    font-size: 1.8rem;
    a {
      margin-left: 3rem;
      color: white;
      transition: all 0.5s ease;
      &:hover {
        font-size: 1.9rem;
        color: $colorSecundario;
      }
    }
  }
}

.header__text {
  text-align: center;
  margin-top: 30rem;

  .header__text__title {
    display: inline-block;
    font-size: 4rem;
    font-weight: 400;
    color: $grisSuave;
    border: 0.4rem solid $lineaTxt;
    padding: 2rem;
  }

  .header__text__parrafo {
    font-size: 1.5rem;
    color: white;
  }

  .header__text__button {
    display: inline-block;
    font-size: 1.5rem;
    color: $grisSuave;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    padding: 1.6rem;
    margin-top: 4rem;
    .fa-angle-double-down {
      color: black;
      font-size: 2rem;
      transition: transform 0.5s ease;
      &:hover {
        transform: translateY(1rem);
      }
    }
  }
}

//PORTAFOLIO

.about {
  height: 800px;
  background-color: $colorTerciario;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;

    .about__text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .about__text__title {
        font-family: $fuenteSpan;
        border-left: 1rem solid $colorPrimario;
        padding-left: 3rem;
        h2 {
          text-transform: uppercase;
          font-size: 10rem;
          padding: 0;
          margin: 0;
        }
      }

      .about__section__p {
        margin-top: 2rem;
        p {
          font-size: 2rem;
          text-indent: 5rem;
        }
      }

      .about__section__button {
        .fa-download {
          font-size: 2rem;
          color: white;
          padding-right: 1rem;
        }

        a {
          display: inline-block;
          background-color: $colorPrimario;
          padding: 2rem 3rem;
          color: white;
          transition: background-color 0.2s ease-in-out;
          &:hover {
            background-color: $colorSecundario;
          }
        }
      }
    }
  }
}

// SKILL

.skill {
  height: 800px;
  background-color: $colorPrimario;
}

// PORTAFOLIO
.portafolio {
  height: 1000px;
  background-color: $colorTerciario;
}

// FOOTER
.footer {
  background-color: black;
  height: 200px;
}
